{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}

<div class="card mx-auto w-75 mt-5">
    <div class="card-body">
        <form method="post">
            <h3 class="card-title">LogIn</h3>
            {% if error %}
            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="_username" value="{{ last_email }}"><br>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password">
        </div>
            <input type="hidden" name="_target_path" value="/Protected">
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock body %}