
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<form action="#" method="post" >
    <h3>inscription</h3>
    <div>
        <label for="email" class="rounded"> Saisir votre email</label>
        <input type="text" name="email" id="email" class="form-control">
    </div>
    <div>
        <label for="password" class="rounded">Saisir votre password</label>
        <input type="text" name="password" id="password" class="form-control">
    </div>
    <div>
        <label for="password" class="rounded">ReSaisir votre password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button class="btn btn-info">regiter</button>

</form>
{% if message is defined %}
<p>{{message}}</p>
{% endif %}

{% endblock %}